/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts7
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
a.rvts12, span.rvts12
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts13
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts14
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts16, span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts17
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0084c4;
}
span.rvts18
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0070c0;
}
span.rvts19
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts20
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0070c0;
}
span.rvts21
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts23
{
 font-size: 7pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 vertical-align: sub;
}
a.rvts24, span.rvts24
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 7pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 vertical-align: super;
}
span.rvts26
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
span.rvts27
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts28
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 background-color: #ffffff;
}
span.rvts29
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
 background-color: #ffffff;
}
span.rvts30
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 background-color: #ffffff;
}
span.rvts31
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
span.rvts32
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts33
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts34
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts35
{
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts36
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #00527f;
}
span.rvts37
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 14px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 line-height: 1.50;
}
.rvps7
{
 border-color: #969696;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
 padding: 3px 3px 3px 3px;
}
.rvps8
{
 line-height: 1.15;
}
.rvps9
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps10
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 16px 0px 4px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: decimal;}
